* {
    font-family: 'Raleway', sans-serif;
    margin: 3px;
    padding: 3px;

}

header {
  display: flexbox;
  background-color: rgb(25, 102, 122);
  justify-content: center;
  text-align: center;
  color: white;
}

h3 {
  background-color: rgb(25, 102, 122);
  color: white;
}
#currentForecast {
  margin: 10px;
  padding: 10px;
  border:rgb(25, 102, 122)
}